<div class="page-container">
  <div class="cruise-container">
    <div class="header-content">
      <h1 class="cruise-header">Choose Your Sailings</h1>
      <p class="cruise-header" id='pick-one'>(Pick one for each box)</p>
    </div>
  </div>
</div>
