/*// Place all the styles related to the Cruises controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/*/


h1 , p {
  margin: 0;
  padding: 0;
}

 /*Contains the contents of our whole page*/
.page-container{
  height: 100vh;
  background-color: #d6d6d6;
  display: flex;
  flex-direction: column;
}

/* Holds contents of our header */
.header-content{
  /*background-color: gray;*/
  height: 14.3%;
  margin: 0 auto;
  /*margin-bottom: 25px;*/
  width: 92%;
}

.cruise-header{
  display: inline-block;
  text-align: center;
  position: relative;
  top: 50%;
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

.block{
  display: inline-block;
}

#pick-one {
  margin-left: 8px;
  font-style: italic;
  color: #505050;
}

/*Holds our cruise cards*/

.cruise-container {
  flex-grow: 1;
  background-color: black;
  width: 92%;
  margin: 0 auto;
  border: 1px solid white;
  display: flex;
  flex-direction: column;
}

.card-container {
  width: 100%;
  display: flex;
  flex-grow: 1;
  background-color: white;
}

.card{
  display: inline-block;
  /*flex-grow: 1;*/
  /*width: 33.33%;*/
  border-right: 1px solid white;
}

h2{
  margin: 0;
}
.card-footer{
  padding-left: 13px;
  height: 173px;
  background-color: white;
}
/* Savings container */

.savings-container {
  border-top: 3px solid grey;
  width: 92%;
  margin: 0 auto;
  height: 15.7%;
}

#savings-h1{
  width: 100%;
  margin-left: 8%;
}
